:root {
  --padding-from-nav: 2rem;
  --padding-from-nav-extra: 10rem;
  --navbar-color: #202529;
}
  
  body {
  padding: 0;
  margin: 0;
  }

.loader {
  border: 0.7rem solid #f3f3f3; 
  border-top: 0.7rem solid rgb(255, 193, 7); 
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  animation: spin 0.8s linear infinite;
}

.logo-container {
  margin-left: 5%;
}

#logo-title {
  font-size: 2em;
  font-weight: bold;
}

.homepage-logo  {
  color: rgba(41, 37, 37, 0.836);
}

.homepage-logo:hover {
  color: rgba(41, 37, 37, 0.836);
}

.nav {
  z-index: 50;
  height: 10%;
}

.navbar-toggle {
  color: white;
  border: none;
  background-color: var(--navbar-color);
}

#nav-burger { 
  font-size: 36px;
}

.recipe-link, .recipe-link:visited, .recipe-link:active {
  color:black;
  text-decoration: none;
}

.recipe-link:hover {
  color: #363636;
}

.search-container {
  padding-top: var(--padding-from-nav);
  width: 100%;
}

.button-search {
  width: 25%;
}

.favourite-icon {
  cursor: pointer
}

.search:hover {
  background: #3f85c7e7;
}

.form-control:focus {
  box-shadow: none;
}

.recipe-list-container {
  padding: 30px 0 0;
}

.recipe-image {
  width: 230px;
  height: 200px;
}

.recipe-container {
  padding-top: var(--padding-from-nav);
}

/* Login.js CSS */

#login-container {
  padding-top: var(--padding-from-nav-extra);
}

/* Register.js CSS */

.alert-message {
  top: 25%;
}

/* Favourite Page CSS */

#favourites-container {
  padding-top: var(--padding-from-nav);
}

/* Page Not Found CSS */

#page-not-found-container {
  padding-top: var(--padding-from-nav)
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (max-width: 750px) {
  .logo-container {
    width: 25%;
  }

  .nav {
    height: 12%;
  }

  .search-container {
    top: 15%;
  }
}

@media screen and (max-width: 400px) { 
  .recipe-image {
    height: auto; 
    width: 100%;
  }

  .button-search {
    width: 50%;
  }
}

